/* Variables */
:root {
    --button-font: 'Changa', sans-serif;
    --red-primary: rgb(206, 50, 50);
    --red-primary-hover: rgb(175, 44, 44);
}
/* Global */
* {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Logo */
a.logo img {
    width: 10rem;
    height: 10rem;
    transition: 0.3s;
    
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

a.logo img:hover {
    transform: scale(1.1);
}

/* Texto Botão */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 24pt;
    font-weight: 900;
    font-family: var(--button-font);
}

/* Desktop */
@media (min-width: 881px) {
    /* Header */
    /* NavBar */
    nav {
        box-sizing: border-box;
        width: 100%;
        background-color: bisque;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        box-shadow: 1px 1px 14px #222;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    /* Botão */
    nav ul li {
        text-align: center;
    
        width: 200px;
        padding: 5px 20px;
        border-radius: 32px;
    
        background-color: var(--red-primary);
        transition: 0.3s;
    }
    
    /* Texto Botão Hover */
    nav ul li:hover {
        background-color: var(--red-primary-hover);
        transform: scale(1.1);
        box-shadow: 1px 1px 5px #222;
    }

    nav ul li a{
        letter-spacing: 8px;
        font-size: 36px;
    }
}

/* Mobile */
@media (max-width: 880px) {
    nav {
        width: 100%;
        background-color: bisque;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        box-shadow: 1px 1px 14px #222;
    }

    nav ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red-primary);

        transition: 0.4s;
    }

    nav ul:hover {
        background-color: var(--red-primary-hover);
    }

    nav ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: var(--red-primary);
        transition: 0.3s;
    }

    nav ul li:hover {
        background-color: var(--red-primary-hover);
        transform: translateY(5px);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    nav ul li a {
        width: 100%;
        text-align: center;
    }
}
