main {
    display: flex;
    align-items: end;
    justify-content: center;
}

#pizza-cards {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;

    min-height: 80vh;
}

@media (max-width: 800px) {
    #pizza-cards {
        width: 70%;
    }

    .pizza-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;

        background: rgb(206, 50, 50);
        padding: 32px 48px;
        border-radius: 24px;
    }

    .pizza-card img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }

    .pizza-card .pizza-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: white;
    }

    .pizza-card .pizza-info .sabor {
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
    }
}
