* {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header */
/* NavBar */
nav {
    box-sizing: border-box;
    width: 100%;
    background-color: bisque;
    padding-inline: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 1px 14px #222;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 5%
}

/* Botão */
nav ul li {
    text-align: center;
    padding: 5px 20px;
    border-radius: 32px;
    background-color: rgb(206, 50, 50);
}

/* Texto Botão */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 24pt;
    font-weight: 900;
    font-family: 'Changa', sans-serif;
    font-size: 36px;
    letter-spacing: 8px;
}

/* Texto Botão Hover */
header li:hover {
    background-color: rgb(175, 44, 44);
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #222;
}

/* Logo */
a.logo img {
    width: 10rem;
    height: 10rem;
    transition: 1s;
    
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

a.logo img:hover {
    transform: scale(1.1);
}

main {
    height: 700vh;
}

footer img {
    width: 100%;
    position: fixed;
    bottom: 0;
}

